@import "../../../../scaffolding/index";

.custom-popup {
    .mapboxgl-popup-content {
        padding: 0;
        box-shadow: 0 5px 35px rgba(0, 0, 0, .2);
    }

    &__content {
        display: flex;
        align-items: flex-start;
    }

    &__image {
        flex: 10rem 0 0;
        width: 10rem;
        align-self: stretch;
        background: url('../../../../images/temp-marker-image.jpg') top center no-repeat;
    }

    &__right {
        min-width: 22rem;
        padding: $padding-small;
    }

    &__title {
        @extend %font-title--black;
        font-size: 2.2rem;

        a {
            color: $hd-darkgrey;
            text-decoration: none;
        }
    }

    &__likes {
        @extend %font-title--medium;
        margin-top: .5rem;
        font-size: 1.8rem;
        color: $hd-grey;
    }
}
