@import "../../../scaffolding/index";

.filters {
    display: none;
    width: 100%;
    height: 100%;
    padding: $padding-large;
    background-color: #ffffff;
    border-radius: .4rem;

    @media (min-width: $breakpoint-tablet-large) {
        display: block;
    }

    &__title {
        @extend %font-title--black;
        font-size: 3.6rem;
        text-transform: uppercase;
    }

    &__categories {
        @extend %font-title--black;
        font-size: 2.2rem;
        list-style: none;
    }

    &__category {
        @extend %font-title--black;
        cursor: pointer;
    }

    &__venues {
        padding-left: $padding-large;
    }
}