.map {
    position: relative;
    right: 0;
    height: 100vh;

    &--fixed {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 50%;
    }

    &--stay {
        align-self: flex-end;
    }
}
