%font-base {
    font-family: 'pt-serif', serif;
    font-weight: 400;
    font-style: normal;
}

%font-base--bold {
    font-family: 'pt-serif', serif;
    font-weight: 700;
    font-style: normal;
}

%font-title--medium {
    font-family: 'brandon-grotesque', sans-serif;
    font-weight: 600;
}

%font-title--medium-italic {
    font-family: 'brandon-grotesque', sans-serif;
    font-weight: 600;
    font-style: italic;
}

%font-title--black {
    font-family: 'brandon-grotesque', sans-serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0.05rem;
}
