$breakpoint-mobile-small: 420px;
$breakpoint-tablet-small: 640px;
$breakpoint-tablet-large: 768px;
$breakpoint-desktop-small: 960px;
$breakpoint-desktop-medium: 1280px;
$breakpoint-desktop-large: 1440px;
$breakpoint-desktop-extra-large: 1600px;
$breakpoint-desktop-xxl: 1850px;

$padding-small: 1rem;
$padding-medium: 2rem;
$padding-large: 3rem;

$default-duration: 200ms;
$default-ease: cubic-bezier(.4, 0, .28, 1);
$default-transition: $default-duration $default-ease;
