@import "../../scaffolding/index";

.map-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: $breakpoint-desktop-large;
    margin: 0 auto;

    > * {
        flex: 50% 0 0;
    }
}
