@import "../../scaffolding/index";

.map {
    position: relative;
    width: 100vw;
    height: 100vh;

    &__filters {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 40%;
    }
}