@import "../../../../scaffolding/index";

.teaser {
    padding: $padding-large;
    transition: box-shadow $default-transition;

    &:not(:last-child) {
        margin-bottom: 20px;
    }

    &__title {
        @extend %font-title--black;
        font-size: 3.6rem;
        letter-spacing: .1rem;
        text-transform: uppercase;
    }

    &__description {
        margin-top: $padding-medium;
    }

    &__address {
        @extend %font-base--bold;
        margin-top: $padding-large;
        color: $hd-red;
    }

    &--active {
        box-shadow: 0 5px 35px rgba(0, 0, 0, .2);
    }
}
