.container {
    padding-left: $padding-large;
    padding-right: $padding-large;
    margin: 0 auto;

    @media (min-width: $breakpoint-desktop-medium) {
        padding-left: 5rem;
        padding-right: 5rem;
    }

    &--small {
        max-width: $breakpoint-tablet-large;
    }

    &--large {
        max-width: $breakpoint-desktop-large;
    }
}
