@import "reset";

html {
    font-size: (100% / 1.6); // 1rem = 10px
    height: 100%;
}

body {
    @extend %font-base;
    width: 100%;
    margin: 0;
    background-color: $background-color;
    font-size: 14px;
    color: $font-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@import "text";
@import "containers";
